.flashcard__content {
  border: 1px solid #2e1401;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 16px;
  box-shadow: 0px 2px 0px 0px #2e1401;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  box-sizing: border-box;
  flex-grow: 1;
}

.flashcard__answer-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.flashcard-question {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0;
  padding-bottom: 12px;
  border-bottom: 1px solid #2e1401;
  color: #2e1401;
}

.flashcard__answer-title {
  color: #2e1401;
  opacity: 0.6;
  font-weight: 500;
  margin: 0;
}

.flashcard__answer {
  color: #2e1401;
  font-size: 1rem;
  line-height: 1.5;
  margin: 1px 0;
  font-weight: 600;
}

.flashcard__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  border-top: 1px solid #2e1401;
  gap: 15px;
}

.flashcard__category {
  background-color: white;
  border: 1px solid #2e1401;
  border-radius: 50px;
  padding: 2px 3px;
  width: fit-content;
  box-shadow: 0px 1px 0px 0px #2e1401;
  font-size: 0.8rem;
}

.flashcard__menu button {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #2e1401;
  transition: color 0.2s;
}

.flashcard__menu button:hover {
  color: #160900;
}
