.flashcard__content {
  border: 1px solid #2e1401;
  border-radius: 12px;
  background-color: #ffffff;
  padding: 16px;
  box-shadow: 0px 2px 0px 0px #2e1401;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  box-sizing: border-box;
  flex-grow: 1;
}

.flashcard__answer-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.flashcard__question {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0;
  padding-bottom: 12px;
  border-bottom: 1px solid #2e1401;
  color: #2e1401;
}

.flashcard__answer-title {
  color: #2e1401;
  opacity: 0.6;
  font-weight: 500;
  margin: 0;
}

.flashcard__answer {
  color: #2e1401;
  font-size: 1rem;
  line-height: 1.5;
  margin: 1px 0;
  font-weight: 600;
}

.flashcard__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  border-top: 1px solid #2e1401;
  gap: 15px;
}

.flashcard__category {
  background-color: white;
  border: 1px solid #2e1401;
  border-radius: 50px;
  padding: 2px 3px;
  width: fit-content;
  box-shadow: 0px 1px 0px 0px #2e1401;
  font-size: 0.8rem;
}

.flashcard__menu {
  position: relative;
}

.flashcard-open__menu {
  background-color: white;
  border: 1px solid #2e1401;
  border-radius: 8px;
  box-shadow: 1px 2px 0px 0px #2e1401;
}

.flashcard__dropdown {
  position: absolute;
  bottom: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #2e1401;
  border-radius: 8px;
  box-shadow: 0px 1px 0px 0px #2e1401;
  min-width: 140px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-bottom: 8px;
}

.dropdown__item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  font-size: 0.9rem;
  transition: background 0.2s;
  color: #2e1401;
}

.dropdown__item:hover {
  background-color: #f1c40f;
}

.dropdown__item:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.delete-card__text {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  color: #2e1401;
}

.delete-card__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.7rem;
}

.cancel__button {
  border: none;
  padding: 8px 20px;
  border-radius: 40px;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
  color: #2e1401;
  box-shadow: inset 0 0 0 1px #2e1401;
  font-family: "Poppins", sans-serif;
}

.delete__button {
  border: none;
  padding: 8px 20px;
  border-radius: 40px;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  background-color: #f1c40f;
  transition: all 0.3s ease;
  color: #2e1401;
  box-shadow: inset 0 0 0 1px #2e1401;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 820px) {
  .flashcard__category {
    padding: 2px 3px;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 680px) {
  .flashcard__category {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 420px) {
  .flashcard__category {
    font-size: 0.6rem;
  }
}
