.flip-card {
  perspective: 1000px;
  height: 60vh;
  width: 100%;
}

.flip-card__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
  transform-style: preserve-3d;
}

.flip-card.is-flipped .flip-card__inner {
  transform: rotateY(180deg);
}

.flip-card__front,
.flip-card__back {
  position: absolute;
  inset: 0;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  border-radius: 15px;
  border: 1px solid #2e1401;
  box-shadow: 1px 1.5px 0px 0px #2e1401;
  text-align: center;
  color: #2e1401;
}

.flip-card__front {
  background-color: #fc8ae5;
}

.flip-card__back {
  background-color: #92adeb;
  color: white;
  transform: rotateY(180deg);
}

.flashcard-study__question {
  font-size: 2rem;
  font-weight: bold;
}

.flashcard-study__answer {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  padding: 0rem 4rem;
}

.flashcard__text {
  color: #2e1401;
}

.reveal-btn {
  background: transparent;
  border: none;
  color: #2e1401;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
}

.reveal-btn:hover {
  background-color: #f7f3f0;
  color: #fc8ae5;
}

.progress-container {
  position: absolute;
  bottom: 15px;
}

.card-category {
  position: absolute;
  top: 15px;
  width: 80%;
  border: 1px solid #2e1401;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  width: fit-content;
  box-shadow: 1px 1.5px 0px 0px #2e1401;
  font-size: 0.8rem;
  gap: 0.5rem;
  background-color: #f7f3f0;
}

@media screen and (max-width: 510px) {
  .flashcard-study__question {
    font-size: 1.2rem;
    padding-top: 1rem;
  }

  .reveal-btn {
    font-size: 0.7rem;
  }

  .flip-card__front,
  .flip-card__back {
    padding: 1rem;
  }
}
