.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #2e1401cc;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal__container {
  background-color: white;
  min-width: 320px;
  max-width: 100%;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  animation: modalIn 0.3s ease-out;
  padding: 1.5rem;
  border-radius: 16px;
  margin: 0;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}

.modal__title {
  margin: 0;
  color: #2e1401;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
}

@keyframes modalIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
