.flashcards__wrapper {
  font-family: "Poppins", sans-serif;
  background-color: #f7f3f0;
  padding: 1rem 2.5rem;
}

.flashcards__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__button-home {
  border: none;
  cursor: pointer;
  color: #2e1401;
  background-color: transparent;
  font-weight: 600;
  font-size: 1.2rem;
}

.header__button-home:hover {
  color: #6d5b4d;
}

.header__button-mode {
  display: flex;
  background-color: white;
  border: 1px solid #2e1401;
  border-radius: 50px;
  padding: 4px;
  width: fit-content;
  box-shadow: 0px 2px 0px 0px #2e1401;
}

.header__button {
  border: none;
  padding: 10px 24px;
  border-radius: 40px;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
  color: #2e1401;
}

.header__button.active {
  background-color: #f1c40f;
  box-shadow: inset 0 0 0 2px #2e1401;
}

.header__button:disabled {
  cursor: default;
  color: #2e1401;
}

@media screen and (max-width: 820px) {
  .header__button-mode {
    padding: 3px;
  }

  .header__button {
    padding: 8px 22px;
    border-radius: 40px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .header__button-mode {
    padding: 2px;
  }

  .header__button {
    padding: 6px 20px;
    border-radius: 40px;
    font-size: 0.9rem;
  }
  .header__button-home {
    font-size: 0.8rem;
  }

  .flashcards__wrapper {
    padding: 1rem 1.8rem;
  }
}

@media screen and (max-width: 320px) {
  .header__button-mode {
    padding: 1px;
  }

  .header__button {
    padding: 4px 16px;
    border-radius: 40px;
    font-size: 0.7rem;
  }
  .header__button-home {
    font-size: 0.7rem;
  }

  .flashcards__wrapper {
    padding: 1rem;
  }
}
