.flashcard_form {
  padding: 1rem 2.5rem;
  font-family: "Poppins", sans-serif;
}

.form__fieldset {
  border: 1px solid #2e1401;
  box-shadow: 0px 2px 0px 0px #2e1401;
  border-radius: 16px;
  background-color: #fff;
}

.modal__container .form__fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.modal__container .flashcard_form {
  border: none;
  background: transparent;
  padding: 0;
}

.form__description {
  color: #2e1401;
  font-weight: 500;
}

.form__input {
  border: 1px solid #2e1401;
  border-radius: 6px;
  width: 97%;
  height: 2rem;
  padding: 6px;
  margin: 0;
}

.form__input-answer {
  height: 4rem;
}

.form__button {
  border: none;
  padding: 10px 24px;
  border-radius: 40px;
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
  color: #2e1401;
  background-color: #f1c40f;
  box-shadow: inset 0 0 0 2px #2e1401;
  margin-top: 1rem;
  display: flex;
  gap: 1px;
}
