.flashcards__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 15px;
  list-style: none;
  padding: 0;
}

.flashcards__empty-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flashcards__empty {
  color: #2e1401;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0;
  padding: 1rem 2.5rem;
}

.flashcards__empty-subtitle {
  color: #2e1401;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  padding: 0rem 2.5rem 1rem;
}

.load-more-btn {
  display: block;
  background-color: white;
  border: 1px solid #2e1401;
  border-radius: 50px;
  padding: 4px;
  width: fit-content;
  box-shadow: 0px 2px 0px 0px #2e1401;
  margin: 30px auto;
  cursor: pointer;
}

.load-more-btn:hover {
  background-color: #f1c40f;
}

@media screen and (max-width: 980px) {
  .flashcards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .flashcards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 680px) {
  .flashcards__list {
    grid-template-columns: repeat(1, 1fr);
  }
}
