.flashcards__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
  gap: 15px;
  max-width: 1200px;
  list-style: none;
  padding: 1rem 2.5rem;
}

.flashcards__empty {
  color: #2e1401;
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0;
  padding: 1rem 2.5rem;
}

.load-more-btn {
  display: block;
  background-color: white;
  border: 1px solid #2e1401;
  border-radius: 50px;
  padding: 4px;
  width: fit-content;
  box-shadow: 0px 2px 0px 0px #2e1401;

  margin: 30px auto;
}
