.pomodoro__controls {
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.pomodoro__button {
  display: flex;
  background-color: white;
  border: 1px solid #2e1401;
  border-radius: 50px;
  padding: 4px;
  width: fit-content;
  box-shadow: 0px 2px 0px 0px #2e1401;
  cursor: pointer;
}

.pomodoro__button:hover {
  background-color: #f1c40f;
}
