.progress {
  display: flex;
  align-items: center;
  gap: 8px;
}

.progress__bar {
  width: 80px;
  height: 8px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #2e1401;
  overflow: hidden;
}

.progress__fill {
  height: 100%;
  background-color: #2e1401;
  transition: width 0.3s ease;
}

.progress__text {
  font-size: 12px;
  color: #2e1401;
  opacity: 0.8;
  font-weight: bold;
}

@media screen and (max-width: 820px) {
  .progress__bar {
    width: 50px;
  }
}

@media screen and (max-width: 680px) {
  .progress__bar {
    width: 80px;
  }
}

@media screen and (max-width: 420px) {
  .progress__bar {
    width: 50px;
  }
}

@media screen and (max-width: 420px) {
  .progress__bar {
    width: 40px;
  }
}
